main {
    padding: 20px;
}

footer {
    padding: 20px;
    text-align: center;
    border-radius: 10px;
}

mdui-card {
    width: 100%;
    margin-bottom: 20px;
    padding: 8px;
}

#main-card {
    display: flex;
}

#main-card>.main-item {
    flex: 1;
}

mdui-divider {
    margin: 8px;
}
