@font-face {
	font-family: Mojangles;
	src: url(../font/Mojangles.ttf);
	font-display: swap;
}

<<<<<<< Updated upstream
body {
	font-family: Mojangles;
	font-size: 16pt;
	color: black;

	background-image: url(https://www.minecraft.net/content/dam/minecraft/home/home-hero-1200x600.jpg) !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
=======
@font-face {
	font-family: Poki;
	src: url(../font/Poki.woff2);
	font-display: swap;
}

body {
	background-attachment: fixed;
	background-image: url(../image/background.jpg);
	background-position: center;
	background-repeat: no-repeat;
	background-size: cover;

	color: black;

	font-family: Poki;
	font-size: 16pt;
}

div.box {
	background-color: rgba(255, 255, 255, 0.6);

	border: 1px solid rgb(202, 202, 202);
	border-radius: 25px;

	padding-left: 25px;
	padding-right: 25px;

	text-align: justify;
}

div.box:hover {
	background-color: rgba(255, 255, 255, 0.7);
>>>>>>> Stashed changes
}