@font-face {
	font-family: Mojangles;
	src: url(../font/Mojangles.ttf);
	font-display: swap;
}

@font-face {
	font-family: Poki;
	src: url(../font/Poki.woff2);
	font-display: swap;
}

@font-face {
	font-family: Cute;
	src: url(../font/Cute.woff);
	font-display: swap;
}

body {
	font-family: Poki;
	font-size: 16pt;
	color: black;

	background-image: url(../image/castle.jfif) !important;
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
	background-attachment: fixed;
}

.top {
	position: fixed;
	border: 0px solid rgb(180, 180, 180);
	background-color: rgba(255, 255, 255, 0.6);
}

.box {
	border: 1px solid rgb(180, 180, 180);
	border-radius: 20px;

	margin-bottom: 10px;

	padding-left: 20px;
	padding-right: 20px;
	padding-top: 10px;
	padding-bottom: 10px;

	background-color: rgba(255, 255, 255, 0.6);

	transition: 0.5s;
}

.box:hover {
	transform: translateY(-3px);

	background-color: rgba(255, 255, 255, 0.8);

	box-shadow: 0px 10px 3px #888888;
}

a {
	transition: all .15s ease;
	color: #005C97;
}

a:hover {
	color: #fa7a4b;
}

a {
	position: relative;
}

a::after {
	content: "";
	width: 0;
	height: 4px;
	background: rgba(255, 0, 0, .575);
	position: absolute;
	top: 100%;
	left: 50%;
	transition: all .3s;
}

a:hover::after {
	left: 0%;
	width: 100%;
}